:root {
  --cor-bg-dark: #202021;
  --cor-bg-primary: #EE2C4E;
}

* {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}